
/* 
 *  sm	640px	@media (min-width: 640px) { ... }
 *  md	768px	@media (min-width: 768px) { ... }
 *  lg	1024px	@media (min-width: 1024px) { ... }
 *  xl	1280px	@media (min-width: 1280px) { ... }
 *  2xl	1536px	@media (min-width: 1536px) { ... }
 *
 * Extra small	None	<576px
 * Small	sm	≥576px
 * Medium	md	≥768px
 * Large	lg	≥992px
 * Extra large	xl	≥1200px
 * Extra extra large	xxl	≥1400px
 *
 */

.layout-login-1 {
    min-height: 100vh;
    position: relative;
}

@media (orientation: landscape) {
    .layout-login-1 {
        display: flex;
    }
}

.layout-login-1 .bg-img {
    position: fixed;
    top: 0;
    left: 0;
    bottom: auto;
    right: 0;
    height: calc(40vh + 2rem);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.layout-login-1 .bg-img.bg-img-center { background-position: center; }
.layout-login-1 .bg-img.bg-img-top { background-position: top; }
.layout-login-1 .bg-img.bg-img-bottom { background-position: bottom; }
.layout-login-1 .bg-img.bg-img-left { background-position: left; }
.layout-login-1 .bg-img.bg-img-right { background-position: right; }

@media (orientation: landscape) {
    .layout-login-1 .bg-img {
        bottom: 0;
        right: 30rem;
        height: auto;
    }
}

@media (min-width: 992px) {
    .layout-login-1 .bg-img {
        bottom: 0;
        right: 40rem;
    }
}

.layout-login-1 .form-container {
    position: relative;
    z-index: 2;
    padding-top: 40vh;
}

@media (orientation: landscape) {
    .layout-login-1 .form-container {
        padding-top: 0;
        margin-left: auto;
    }
}

.layout-login-1 .form-card {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 2rem;
}

@media (orientation: portrait) and (min-width: 768px) {
    .layout-login-1 .form-card {
        border-top-left-radius: 4rem;
        border-top-right-radius: 4rem;
        padding: 4rem 8rem;
    }
}

@media (orientation: landscape) {
    .layout-login-1 .form-card {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        min-height: 100vh;
        padding: 2rem 3rem;
        width: 30rem;
    }
}

@media (min-width: 992px) {
    .layout-login-1 .form-card {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        min-height: 100vh;
        padding: 4rem 6rem;
        width: 40rem;
    }
}